<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mpos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>

    <uses-sdk tools:overrideLibrary="
      androidx.camera.camera2, androidx.camera.core,
      androidx.camera.view, androidx.camera.lifecycle" />
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".ApplicationFile"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security"
        android:theme="@style/Theme.OffiqlResturantApp">
        <activity android:name=".MainActivity"/>
        <activity android:name=".TestingActivity"/>
        <activity
            android:name=".payment.PaymentActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

<!--        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode,model2,model3" />-->
        <!-- To use multiple models: android:value="barcode,model2,model3" -->

    </application>

</manifest>